@import "../../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.Container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
