@import "../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

.Container {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100%;

  .CoinRow {
    background-color: $CoinTabColor;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 60%;
    max-width: 800px;
    min-width: 483px;
    box-shadow: 8px 7px 15px -1px $BoxShadow;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px 0;

    .Coin {
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: 20px;

      img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
      }

      h1 {
        font-weight: 700;
      }
    }

    .CoinInfo {
      display: flex;
      width: 100%;

      .CoinPrice {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 400;
        margin: 0 10px;
      }

      .CoinPriceChange {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 700;
      }

      .CPC_Loss {
        color: $CPC_lossColor;
      }

      .CPC_Profit {
        color: $CPC_profitColor;
      }
    }
  }

  @media screen and (min-width: 504px) {

    
  }
}
