@import "../../styles/variables.scss";

.Container {
  display: flex;
  justify-content: center;

  .CoinRow {
    background-color: $CoinTabColor;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 60%;
    min-width: 520px;
    box-shadow: 8px 7px 15px -1px $CoinTabShadowColor;
    border-radius: 10px;
    margin-bottom: 20px;

    .Coin {
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: 20px;

      img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
      }

      h1 {
      }
    }

    .CoinInfo {
      display: flex;
      width: 100%;

      .CoinPrice {
        width: 100%;
        font-weight: 400;
      }

      .CoinPriceChange {
        width: 100%;
        font-weight: 700;
      }

      .CPC_Loss {
        color: $CPC_lossColor;
      }

      .CPC_Profit {
        color: $CPC_profitColor;
      }
    }
  }
}
