@import "../../styles/variables.scss";

.Container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-width: 335px;

  .MainHeader {
    margin-top: 60px;
    margin-bottom: 20px;
    color: $FontColorWhite;
    font-size: 1.3rem;
  }
  .NavTools {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 20px;
    margin-bottom: 50px;
  }
}
