// CoinTab
$CoinTabColor: rgb(247, 240, 240);
$CoinTabShadowColor: rgba(0, 0, 0, 0.75);
$CPC_lossColor: red;
$CPC_profitColor: rgb(56, 204, 56);

// SearchCoin
$SearchCoinFontColor: #f7f0f0;
$SearchCoinFontClickColor: #5fa8d3;
