// CoinTab
$CoinTabColor: #f7f0f0;
$CPC_lossColor: #ff0000;
$CPC_profitColor: #38cc38;

// SearchCoin
$SearchCoinFontClickColor: #5fa8d3;

// CurrencyList
$CurrencyListBackgroundColor: #53429a;

// Global
$FontColorWhite: #f7f0f0;
$BoxShadow: rgba(0, 0, 0, 0.75);

// @media
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
