@import "../../styles/variables.scss";

.Form {
  position: relative;
  height: 50px;
  overflow: hidden;
  width: 80%;
  min-width: 220px;
  max-width: 425px;

  input {
    background: none;
    width: 100%;
    height: 100%;
    color: $FontColorWhite;
    padding-top: 10px;
    font-size: 0.8rem;
    border: none;
    outline: none;

    &:focus + .LabelName .ContentName,
    &:valid + .LabelName .ContentName {
      transform: translateY(-150%);
      font-size: 0.6rem;
      color: $SearchCoinFontClickColor;
    }

    &:focus + .LabelName::after,
    &:valid + .LabelName::after {
      transform: translateX(0%);
    }
  }

  .LabelName {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid $FontColorWhite;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 100%;
      border-bottom: 3px solid $SearchCoinFontClickColor;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }

    .ContentName {
      color: $FontColorWhite;
      position: absolute;
      bottom: 5px;
      left: 0;
      transition: all 0.3s ease;
      font-size: 0.7rem;
    }
  }

  @media screen and (max-width: $phone) {
    input {
      padding-top: 20px;
    }
  }
}
