.Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  margin-top: 45px;
  margin-bottom: 50px;
  text-align: left;

  h1 {
    color: #f7f0f0;
  }

  .Form {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;

    input {
      background: none;
      width: 100%;
      height: 100%;
      color: #f7f0f0;
      padding-top: 20px;
      border: none;
      outline: none;

      &:focus + .LabelName .ContentName,
      &:valid + .LabelName .ContentName {
        transform: translateY(-150%);
        font-size: 14px;
        color: #5fa8d3;
      }

      &:focus + .LabelName::after,
      &:valid + .LabelName::after {
        transform: translateX(0%);
      }
    }
    .LabelName {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid #f7f0f0;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid #5fa8d3;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }

      .ContentName {
        color: #f7f0f0;
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
      }
    }
  }
}
